
/**{
	border: solid 1px red;
}
*/

/*body {
	text-align: center;
}
*/
@media (min-width: 768px) {
  	.main-section {
		padding: 50px;
		/*background-color: grey;*/
	}
}

.section {
	padding-top: 40px;
}
.intro {
	/*background-color: grey;*/
}

.portfolio {
	/*background-color: grey;*/
}

.portfolio-img {
	width:100%;
	height:100%;
	padding-top: 10px;
}

.contactme {
	/*background-color: grey;*/
}

.profile-img {
	position: relative;
	margin: auto;
	width: 100%;
	height: 100%;
	max-width: 300px;
	border-radius: 50%;
	padding: 10px;

}
.footer {
	background-color: blue;
}